/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}


/* Styles */

/* Colors (gruvbox) */
@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color bg2	#504945;


@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color mode	@black;
@define-color unfocused	@bg2;
@define-color focused	@braqua;
@define-color inactive	#a7c080;
@define-color sound	@brpurple;
@define-color network	@purple;
@define-color memory	@braqua;
@define-color cpu	@green;
@define-color temp	@brgreen;
@define-color layout	@bryellow;
@define-color battery	@aqua;
@define-color date	@black;
@define-color time	@white;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
  background: transparent;
  background-color: transparent;
	/*color: @white;*/
	font-family: JetBrains Mono, Siji;
	font-size: 16pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
/*#submap,*/
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: #d5c9ab;
	background: transparent;
}

#submap {
  color: #d5c9ab;
  background: transparent;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: #7c8377;
	/*background: @unfocused;*/
  background-color: transparent;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @inactive;
	/*background: @inactive;*/
  background-color: transparent;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @black;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	background: #a7c080;
	color: #272e33;
}

#network {
	background: #d5c9ab;
	color: #272e33;
}

#memory {
	background: #a7c080;
	color: #272e33;
}

#cpu {
	background: #d5c9ab;
	color: #272e33;
}

#temperature {
	background: @temp;
	color: @black;
}

#tray {
	margin-left: 250pt;
	background: transparent;
  /*padding: 2pt;*/
}

#clock.date {
	background: #272e33;
	color: #d5c9ab;
}

#clock.time {
	background: #272e33;
	color: #d5c9ab;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #e69875;
}

#custom-weather.clearNight {
    color: #d5c9ab;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}

#custom-pomodoro {
    color: #d5c9ab;
}

#custom-arrow1 {
	font-size: 11pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 11pt;
	color: transparent;
	background: #272e33;
}

#custom-arrow3 {
	font-size: 11pt;
	color: #272e33;
	background: #7c8377;
}

#custom-arrow4 {
	font-size: 11pt;
	color: #7c8377;
	background: #a7c080;
}

#custom-arrow5 {
	font-size: 11pt;
	color: #a7c080;
	background: #d5c9ab;
}

#custom-arrow6 {
	font-size: 11pt;
	color: #d5c9ab;
	background: #a7c080;
}

#custom-arrow7 {
	font-size: 11pt;
	color: #a7c080;
	background: #d5c9ab;
}

#custom-arrow8 {
	font-size: 11pt;
	color: #d5c9ab;
	background: #a7c080;
}

#custom-arrow9 {
	font-size: 11pt;
	color: #a7c080;
	background: transparent;
}

#custom-arrow10 {
	font-size: 11pt;
	color: #a7c080;
	background: #d5c9ab;
}

#custom-arrow11 {
	font-size: 11pt;
	color: #7c8377;
	background: #a7c080;
}

#custom-arrow12 {
	font-size: 11pt;
	color: #272e33;
	background: #7c8377;
}

#custom-arrow13 {
	font-size: 11pt;
	color: #a7c080;
	background: transparent;
}
